.background-image{
    &__ul{
        li::before{
            left: -10px !important;
        }
    }
}
.image-product{
    margin-top: 20px;
    img{
        width: 100%;
        height: 100%;
        border: 1px solid gainsboro;
    }
}
.carousel{
    margin-top: 50px;
    img{
        border: 1px solid gainsboro;

    }
}
body{
    height: 200vh;
}
.product-line{
    width: 100px;
    height: 2px;
    background-color: gray;
}
.desc-prod{
    h5{
        font-size: 16px;
    }
    p{
        color: gray;
        font-weight: 300;
        font-size: 13px;
    }
    ul{
        padding-left: 0;
    }
    li{
        color: gray;
        font-weight: 300;
        font-size: 13px;
        margin-left: 0;
    }
    
}
.review-prod{
    .review-form{
        display: flex;
        flex-direction: column;
        input{
            width: 60%;
        }
        label::before{
            content: '*';
            color: red;
        }
        .rating-review{
            display: flex;
            input{
                width: 15px;
            }
            & > *{
                margin-right: 10px;
            }
        }
    }
}
.cart-product{
    position: sticky;
    top: 100px;
    h4{
        font-size: 26px;
        border-bottom: 1px solid gainsboro;
        padding: 30px 0 15px 0;
    }
    .sharing-prod{
        padding: 20px 0;
        .facebook-fav-button{
            border: none;
            background-color: rgb(53, 120, 243);
            border-radius: 5px;
            color: white;
            font-size: 13px;
        }
        .twitter-fav-button{
            border: none;
            background-color: rgb(46, 183, 236);
            border-radius: 5px;
            color: white;
            font-size: 13px;
        }
    }
    .review-stars{
        a{
            margin-left: 50px;
        }
        i, span{
            font-size: 13px;
            color: rgba(96, 96, 96, 0.991);
        }
        
        
    }
    .pricing-prod{
        p{
            margin: 0;
        }
    }
    .specs{
        .row{
            .col-6{
                box-sizing: border-box;
                padding: 8px 20px;
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border: 1px solid gainsboro;
                    border-radius: 5px;
                    .brand-title{
                        background-color: rgb(231, 228, 228);
                        width: 90%;
                        text-align: center;
                        margin-top: 3px;
                        padding: 5px 0;
                    }
                }
            }
        }
    }
}

.yellow{
    color: rgb(255, 153, 0) !important;
}
footer{
    margin-top: 200px;
}