.background-image{
    background: url(https://demo.ishithemes.com/opencart/OPC100/OPC100L02/image/catalog/breadcrumb.png);
    background-attachment: fixed;
    background-position: 47% 20%;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__ul{
        ul{
            li{
                position: relative;
                display: inline-block;
                margin-right: 10px;
                a{
                   font-size: 15px !important;
                   font-weight: normal;
                }
                a:hover{
                    color: rgba(253, 37, 37, 0.581) !important;
                }
            }
        }
        ul > *:not(:first-child)::before{
            content: "|";
            font-size: 20px;
            position: absolute;
            top: -9%;
            left: -15%;
            font-weight: 300;
        }
    }
}

.fixed-navbar
{
    position: fixed !important;
    background-color: white !important;
    top: 0 !important;
    animation-name: slide-nav !important;
    animation-duration: 0.2s !important;
    width: 100% !important;
   
    // overflow: hidden;
}
.customer-type{
    .wrapper-new{
        margin: 7%;
        padding: 5%;
        border: 1px solid gainsboro;
        button{
            background-color: black;
            border: 0;
            color: white;
            padding: 5px 10px;
        }
        button:hover{
            background-color: rgba(255, 76, 76, 0.887);
            transition: 0.5s;
        }
    }
    .wrapper-returning{
        & > * {
            margin: 5px !important;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 7%;
        padding: 5%;
        border: 1px solid gainsboro;
        button, custom-button{
            background-color: black;
            border: 0;
            color: white;
            padding: 5px 10px;
        }
        button:hover, custom-button:hover{
            background-color: rgba(255, 76, 76, 0.887);
            transition: 0.5s;
        }
    }
}

.custom-button{
    background-color: black;
    border: 0;
    color: white;
    padding: 5px 10px; 
}

.custom-button:hover{
    background-color: rgba(255, 76, 76, 0.887);
            transition: 0.5s;
}

.custom-button-reverse{
    background-color: rgba(255, 76, 76, 0.887);
    border: 0;
    color: white;
    padding: 5px 10px; 
}

.custom-button-reverse:hover{
   background-color: black;
            transition: 0.5s;
}


// Keyframes 
@keyframes slide-nav {
    from 
    {
        top: -100%;
    }
    to 
    {
        top: 0;
    }
}